.comments {
  display: flex;
  align-items: start;
  column-gap: 20px;
  font-size: 16px;
  &__name {
    font-size: 16px;
  }
  &__text {
    width: 450px;
    font-size: 16px;
  }

  @media (max-width: 1550px) {
    column-gap: 20px;
    font-size: 16px;
    &__name {
      font-size: 16px;
    }
    &__text {
      width: 100%;
      font-size: 16px;
    }
  }
}
